<?xml version="1.0"?>
<simplDeployPackagerConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <buildConfig>Release</buildConfig>
  <projectFile>C:\Users\Programmer\source\repos\soulbox\ZenixDevex\ZenixDevex\Zenix.UI\Zenix.WinUI.csproj</projectFile>
  <product>Zenix Solution</product>
  <publisher>Erkan Ceylan</publisher>
  <version>1.0.0.32</version>
  <entryPoint>Zenix.WinUI.exe</entryPoint>
  <quietMayor>false</quietMayor>
  <inAppUpdate>true</inAppUpdate>
  <StartupArgumentsEnabled>false</StartupArgumentsEnabled>
  <signPackageEnabled>false</signPackageEnabled>
  <certificatePath />
  <savePassword>false</savePassword>
  <timeStampServerUrl>http://timestamp.digicert.com</timeStampServerUrl>
  <customUninstallProcedureEnabled>false</customUninstallProcedureEnabled>
  <uninstallArgs />
  <deploymentTargets>
    <rootUrl>http://sovia.com.tr/ZenixSolution/</rootUrl>
    <destinationFolder>C:\Users\Programmer\source\repos\soulbox\ZenixDevex\ZenixDevex\Zenix.UI\simplDeploy\http!!!sovia.com.tr!ZenixSolution!</destinationFolder>
    <useDefaultDestinationFolder>true</useDefaultDestinationFolder>
    <isActivated>true</isActivated>
  </deploymentTargets>
</simplDeployPackagerConfig>